What is Pandas Libray in Python?
Pandas is a powerful and versatile library that simplifies the tasks of data manipulation in Python.Pandas is a popular Python library for data manipulation and analysis. It provides data structures and functions for efficiently handling and analyzing structured data, primarily in the form of tables or DataFrames. Pandas is widely used in data science, data analysis, and data preprocessing tasks.

Managing Data with Pandas:
Pandas simplifies data management in Python through its core data structures:

1. DataFrame: A two-dimensional table-like data structure with rows and columns. It is similar to a spreadsheet or SQL table.
2. Series: A one-dimensional array-like data structure representing a single column or row of data in a DataFrame.

Data Reading in Pandas:
Pandas supports various file formats for reading and writing data, such as CSV, Excel, SQL databases, JSON, and more. Hereâ€™s an example of reading data from a CSV file:

CSV file: Definition
A CSV (comma-separated values) file is a text file that has a specific format which allows data to be saved in a table structured format.

In [4]:
import pandas as pd

df=pd.read_csv('titanic.csv')
# df.head()
# df.tail()

df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

What is a Series?
A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [6]:
passengerid=df['Sex']
type(passengerid)

# passengerid
# passengerid.head()
# df.tail()

# passengerid.describe()

pandas.core.series.Series

Basic Operations
Pandas provides a wide range of operations for data manipulation:

Selecting Data
You can select specific columns from your DataFrame like this:

In [8]:
# Select the 'Name' column
names = df['PassengerId']
names.head()
# print(names)

0    1
1    2
2    3
3    4
4    5
Name: PassengerId, dtype: int64

***Filtering Data***
You can filter your data based on specific conditions:

In [26]:
# Select individuals older than 28
filtered_data = df[df['Age']<10]['Name'].reset_index()
print(filtered_data)

7                Palsson, Master. Gosta Leonard
10              Sandstrom, Miss. Marguerite Rut
16                         Rice, Master. Eugene
24                Palsson, Miss. Torborg Danira
43     Laroche, Miss. Simonne Marie Anne Andree
                         ...
827                       Mallet, Master. Andre
831             Richards, Master. George Sibley
850     Andersson, Master. Sigvard Harald Elias
852                     Boulos, Miss. Nourelain
869             Johnson, Master. Harold Theodor
Name: Name, Length: 62, dtype: object

In [15]:
df_su = df[(df['Survived'] == 0)&(df['Sex'] == 'male')]
# df_su = df[(df['Sex'] == 'male')]
# df_su.shape[0]
print(df_su)

     PassengerId  Survived  Pclass                            Name   Sex  \
0              1         0       3         Braund, Mr. Owen Harris  male
4              5         0       3        Allen, Mr. William Henry  male
5              6         0       3                Moran, Mr. James  male
6              7         0       1         McCarthy, Mr. Timothy J  male
7              8         0       3  Palsson, Master. Gosta Leonard  male
..           ...       ...     ...                             ...   ...
881          882         0       3              Markun, Mr. Johann  male
883          884         0       2   Banfield, Mr. Frederick James  male
884          885         0       3          Sutehall, Mr. Henry Jr  male
886          887         0       2           Montvila, Rev. Juozas  male
890          891         0       3             Dooley, Mr. Patrick  male

      Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0    22.0      1      0         A/5 21171   7.2500   NaN        S
4    35.0      0      0            373450   8.0500   NaN        S
5     NaN      0      0            330877   8.4583   NaN        Q
6    54.0      0      0             17463  51.8625   E46        S
7     2.0      3      1            349909  21.0750   NaN        S
..    ...    ...    ...               ...      ...   ...      ...
881  33.0      0      0            349257   7.8958   NaN        S
883  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
886  27.0      0      0            211536  13.0000   NaN        S
890  32.0      0      0            370376   7.7500   NaN        Q

[468 rows x 12 columns]

***Grouping Data***
Pandas makes it easy to group and aggregate data:

In [23]:
# Group by age and calculate the average
grouped_data_sum = df['Age'].max()
print(grouped_data_sum)
grouped_data_mean = df['Age'].mean()
print(grouped_data_mean)

80.0
29.69911764705882

***Data Cleaning***

In [ ]:
# Handling missing values
df.dropna()  # Remove rows with missing values
df.fillna(0)  # Replace missing values with zeros
# Removing duplicates
df.drop_duplicates()

Understanding data using .info()
The .info() method is a quick way to look at the data types, missing values, and data size of a DataFrame. Here, weâ€™re setting the show_counts argument to True, which gives a few over the total non-missing values in each column. Weâ€™re also setting memory_usage to True, which shows the total memory usage of the DataFrame elements. When verbose is set to True, it prints the full summary from .info().

In [ ]:
df.info(show_counts=True, memory_usage=True, verbose=True)

Understanding your data using .shape
The number of rows and columns of a DataFrame can be identified using the .shape attribute of the DataFrame. It returns a tuple (row, column) and can be indexed to get only rows, and only columns count as output.

In [20]:
df.shape # Get the number of rows and columns
# df.shape[0] # Get the number of rows only
# df.shape[1] # Get the number of columns only

(891, 12)

Get all columns and column names
Calling the .columns attribute of a DataFrame object returns the column names in the form of an Index object. As a reminder, a pandas index is the address/label of the row or column.

In [25]:
df.columns
#it can be converted to a list using a list() function.
l=list(df.columns)

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

You can fetch specific rows by labels or conditions using .loc[] and .iloc[] ("location" and "integer location"). .loc[] uses a label to point to a row, column or cell, whereas .iloc[] uses the numeric position. To understand the difference between the two, letâ€™s modify the index of df2 created earlier.

In [27]:
"""
The below example returns a pandas Series instead of a DataFrame.
 The 1 represents the row index (label), whereas the 1 in .
 iloc[] is the row position (first row).
"""
# df.loc[1]
print(df.iloc[1])
df.loc[df['Age']==1, ['Age']] = 80

PassengerId                                                    2
Survived                                                       1
Pclass                                                         1
Name           Cumings, Mrs. John Bradley (Florence Briggs Th...
Sex                                                       female
Age                                                         38.0
SibSp                                                          1
Parch                                                          0
Ticket                                                  PC 17599
Fare                                                     71.2833
Cabin                                                        C85
Embarked                                                       C
Name: 1, dtype: object

In [28]:
import pandas as pd

df = pd.read_csv('titanic.csv')
# print(df.head(10))
# print(df.describe())

# df.dropna()  # Remove rows with missing values
df=df.fillna(0)  # Replace missing values with zeros

age=df['Sex']
# print(type(age))
# print(age)

df_su = df[(df['Survived'] == 1)&(df['Sex'] == 'male')].sort_values(by='Age', ascending=True)

age=df_su.groupby('Sex').count()
# print(age)
# # print(df.shape[0])
print(df_su)

      PassengerId  Survived  Pclass  Name  Age  SibSp  Parch  Ticket  Fare  \
Sex
male          109       109     109   109  109    109    109     109   109

      Cabin  Embarked
Sex
male    109       109
     PassengerId  Survived  Pclass  \
17            18         1       2
839          840         1       1
828          829         1       3
740          741         1       1
709          710         1       3
..           ...       ...     ...
449          450         1       1
647          648         1       1
587          588         1       1
570          571         1       2
630          631         1       1

                                                  Name   Sex   Age  SibSp  \
17                        Williams, Mr. Charles Eugene  male   0.0      0
839                               Marechal, Mr. Pierre  male   0.0      0
828                       McCormack, Mr. Thomas Joseph  male   0.0      0
740                        Hawksford, Mr. Walter James  male   0.0      0
709  Moubarek, Master. Halim Gonios ("William George")  male   0.0      1
..                                                 ...   ...   ...    ...
449                     Peuchen, Major. Arthur Godfrey  male  52.0      0
647                Simonius-Blumer, Col. Oberst Alfons  male  56.0      0
587                   Frolicher-Stehli, Mr. Maxmillian  male  60.0      1
570                                 Harris, Mr. George  male  62.0      0
630               Barkworth, Mr. Algernon Henry Wilson  male  80.0      0

     Parch       Ticket     Fare Cabin Embarked
17       0       244373  13.0000     0        S
839      0        11774  29.7000   C47        C
828      0       367228   7.7500     0        Q
740      0        16988  30.0000   D45        S
709      1         2661  15.2458     0        C
..     ...          ...      ...   ...      ...
449      0       113786  30.5000  C104        S
647      0        13213  35.5000   A26        C
587      1        13567  79.2000   B41        C
570      0  S.W./PP 752  10.5000     0        S
630      0        27042  30.0000   A23        S

[109 rows x 12 columns]